<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manner Matter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/change_pw.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
</head>
<body>
   
   <div class="container">
       
       <div class="title">
            <a href="check"><i class="fas fa-backward"></i></a>
           <span>M</span> <span>M</span>
       </div>
       
       <div class="info">
           <form action="/member/change_con" method="post" th:object="${member}">
               <input type="password" name="member_pw" placeholder="새로운 비밀번호" th:field="*{pw}">
               <input type="password" name="member_pw2" placeholder="확인">
               <button>비밀번호변경</button>
           </form>
       </div>
   </div>
    
</body>
</html>