<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manner Matter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/check_info.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
</head>
<body>
   
   <div class="container">
       
       <div class="title">
            <a href="/chat/find/mine"><i class="fas fa-backward"></i></a>
           <span>M</span> <span>M</span>
       </div>
       
       <div class="info" >
           <form method="post" th:object="${member}">
               <input type="password" name="member_pw" placeholder="비밀번호" th:field="*{pw}" >
               <button onclick="javascript: form.action='/member/change';"/>회원정보수정</button>
               <button onclick="javascript: form.action='/member/remove';"/>회원탈퇴</button>
           </form>
       </div>
   </div>

   <script th:inline = "javascript">
       /* <![CDATA[*/
       var message = /*[[${message}]]*/;
       /* ]]> */

       if (message != null) {
           alert(message);
       }

   </script>
    
</body>
</html>