<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manner Matter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/join.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
</head>
<body>
   
   <div class="container">
       <div class="title">
            <a href="login"><i class="fas fa-backward"></i></a>
           <span>M</span> <span>M</span>

       </div>
       
       <div class="info">
           <form action="/member/new" th:object="${member}" method="post">
              <div class="check_id">
                   <input type="text" placeholder="ID" th:field="*{id}">
                   <input type="submit" value="중복확인">
               </div>
               <input type="password" placeholder="PW" th:field="*{pw}">
               <input type="text" placeholder="이름" th:field="*{name}">
               <input type="text" placeholder="성별 ex) 남,여" th:field="*{sex}">
               <input type="number" placeholder="생년월일 ex) 010101" th:field="*{birth}">
               <div class="check_phone">
                   <input type="number" placeholder="핸드폰번호" th:field="*{phone_number}">
                   <input type="submit" value="인증">
               </div>
               <input type="text"  placeholder="학교명" th:field="*{school_name}">
               <button>회원가입</button>
           </form>
       </div>
   </div>
    
</body>
</html>