<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manner Matter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/remove_member.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
</head>
<body>
   
   <div class="container">
       
       <div class="title">
            <a href="check_info.html"><i class="fas fa-backward"></i></a>
           <span>M</span> <span>M</span>
       </div>
       
       <div class="info">
          <p><span>회원탈퇴</span> 시 <span>3개월동안</span> 회원가입이 불가능합니다.</p>
           <form action="/member/remove_con" method="post" th:object="${member}">
               <input type="password" name="member_pw" placeholder="비밀번호" th:field="*{pw}">
               <button>회원탈퇴</button>
           </form>
       </div>
   </div>
    
</body>
</html>