<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자님 환영합니다!</title>

    <link rel="stylesheet" th:href="@{/css/report.css}">

    <script  src="https://code.jquery.com/jquery-latest.min.js"></script>

</head>
<body>
<label for="reportId" class="label label-default">방 번호</label>
<label th:text="*{report.reportId}" id="reportId" class="form-inline"></label>
<br>
<label for="memberId" class="label label-default">회원 ID</label>
<label th:text="*{report.memberId}" id="memberId" class="form-inline"></label>

<div id = "chatroom" >

</div>
<input type = "text" id = "message" placeholder="내용을 입력하세요" autofocus>
<button class = "btn btn-primary" id = "send">전송</button>
<script>

</script>
</body>
<script th:inline = "javascript">
    var webSocket;
    /* <![CDATA[*/
    var reportId = /*[[${report.reportId}]]*/;
    /* ]]> */

    connect();

    document.getElementById("send").addEventListener("click",function(){
        send();
    })
    function connect(){
        webSocket = new WebSocket("ws://localhost:8080/chat");
        webSocket.onopen = onOpen;
        webSocket.onclose = onClose;
        webSocket.onmessage = onMessage;
    }
    function disconnect(){
        webSocket.send(JSON.stringify({reportId : reportId, type:'LEAVE',writer:'admin'}));
        webSocket.close();
    }
    function send(){
        msg = document.getElementById("message").value;
        webSocket.send(JSON.stringify({reportId : reportId,type:'CHAT',writer:'admin',message : msg}));
        document.getElementById("message").value = "";
    }
    function onOpen(){
        webSocket.send(JSON.stringify({reportId : reportId,type:'ENTER',writer:'admin'}));
    }
    function onMessage(e){
        data = e.data;
        chatroom = document.getElementById("chatroom");
        chatroom.innerHTML = chatroom.innerHTML + "<br>" + data;
    }
    function onClose(){
        disconnect();
    }

</script>
</html>