<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset = UTF-8" />
    <title>관리자님 환영합니다!</title>

    <link rel="stylesheet" th:href="@{/css/reports.css}">

    <script  src="https://code.jquery.com/jquery-latest.min.js"></script>

</head>

<body>

<div class = "container">
    <table class = "table table-striped">
        <thead>
        <tr>
            <th>번호</th>
            <th>회원 ID</th>
            <th>입장버튼</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="report : ${reports}">
            <td th:text="${report.reportId}"></td>
            <td th:text="${report.memberId}"></td>
            <td>
                <a class = "btn btn-primary" th:href = "@{/report/{id} (id = ${report.reportId})}">입장</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>