@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');

body {
    margin: 0;
    font-family: 'East Sea Dokdo', cursive;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.container {
    max-width: 350px;
    width: 350px;
}
.title {
    width: 100%;
    position: relative;
    margin-bottom: 50px;
}
.title span {
    font-size: 70px;
}
.title span:nth-child(1) {
    color: brown;
}

.title span:nth-child(2) {
    color: crimson;
}

.title i {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 20px;
    margin: 5px;
    cursor: pointer;
    color: black;
}

.info {}

.info input {
    display: block;
    padding: 5px;
    width: 80%;
    margin-bottom: 15px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid #b7a93b;
    font-family: 'East Sea Dokdo', cursive;
    font-size: 15px;
    display: inline-block;
}

.info #input_id_1,
.info #input_nickname_1{
    display: none;
    margin: -15px 0 0 0;
    color: green;
}

.info #input_id_2,
.info #input_nickname_2 {
    color: red;
    margin: -15px 0 0 0;
    display: none;
}

.check_phone input:nth-child(1),
.check_school input:nth-child(1){
    width: 60%;
}

.check_phone input:nth-child(2){
    width: 20%;
    background-color: antiquewhite;
    cursor: pointer;
}

.search_school_btn {
    display: inline-block;
    border: 1px solid #b7a93b;
    height: 20px;
    padding: 5px 0;
    border-radius: 5px;
    width: 20%;
    background-color: antiquewhite;
    cursor: pointer;
}

.info form button {
    width: 40%;
    border: 1px solid;
    padding: 7px 10px 7px 10px;
    background-color: wheat;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    font-family: 'East Sea Dokdo', cursive;
    font-size: 20px;
    margin-top: 50px;
}

.search_school {
    display: none;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    border: 1px solid;
    width: 100%;
    height: 400px;
    background-color: blanchedalmond;
    border-radius: 20px;
}

.search_school i {
    cursor: pointer;
    color: brown;
    font-size: 20px;
    position: absolute;
    top : 2%;
    left: 95%;
    transform: translate(-95%, -2%);
}

#input_school {
    margin-top: 50px;
}

#school_list {
    border-top: 1px solid;
    width: 100%;
    height: 300px;
    overflow: auto;
}