@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');

body {
    margin: 0;
    font-family: 'East Sea Dokdo', cursive;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.container {
    max-width: 350px;
    width: 350px;
}
.title {
    width: 100%;
    position: relative;
    margin-bottom: 80px;
}
.title span {
    font-size: 70px;
}
.title span:nth-child(1) {
    color: brown;
}

.title span:nth-child(2) {
    color: crimson;
}

.title i {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 20px;
    margin: 5px;
    cursor: pointer;
    color: wheat;
    border-radius: 50%;
    padding: 7px;
    background-color: floralwhite;
    
}

.container form input {
    font-family: 'East Sea Dokdo', cursive;
    border: 1px solid #c18d47;
    border-radius: 5px;
    width: 60%;
    font-size: 18px;
}

.container form button {
    font-family: 'East Sea Dokdo', cursive;
    border: 1px solid blacke;
    background-color: antiquewhite;
    border-radius: 5px;
    font-size: 18px;
    width: 20%;
}

.chat {
    width: 100%;
    font-size: 18px;
}

.chat table {
    border: 1px solid black;
    margin-top: 50px;
    margin-bottom: 50px;
    display: inline-block;
}

.chat th {
    background-color: antiquewhite;
    border: 1px solid black;
    padding: 5px 30px;
}

.chat th:nth-child(1) {
    width: 10%;
}

.chat th:nth-child(2) {
    width: 80%;
}

.chat th:nth-child(3) {
    width: 10%;
}

.chat td {
    border: 1px solid black;
}

.chat td:nth-child(3) {
    cursor: pointer;
}

.container a button{
    width: 40%;
    border: 1px solid;
    padding: 7px 10px 7px 10px;
    background-color: wheat;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    font-family: 'East Sea Dokdo', cursive;
    font-size: 20px;
    margin-top: 70px;
}