<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manner Matter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/room.css}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">

</head>
<body>
<div class="container">

   <div class="title">
        <a href="/chat/find/mine"><i class="fas fa-backward"></i></a>
    </div>
    
    <div id = "chatroom">
        <table>
            <tr th:each="item : ${messageList}">
                <td th:text="${item.member.nickname}"> : </td>
                <td th:text="${item.message}"></td>
            </tr>
        </table>

    </div>
    <form action="/chat/message" th:object="${form}" method="post">
        <input type = "text" th:field="*{message}" placeholder="내용을 입력하세요" autofocus >
        <button class = "btn btn-primary" id = "send">전송</button>
    </form>

</div>
</body>
</html>