<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manner Matter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script  src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/chat.css}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" rel="stylesheet">

</head>
<body>
<div class="container">

   <div class="title" th:object="${chat}">
        <a href="/chat/find/mine"><i id="back" class="fas fa-backward"></i></a>
        <p th:text="*{id}"></p>
        <p th:text="*{name}"></p>
        <i id="reporticon" class="fa-solid fa-comment"></i>
   </div>
    
    <div id = "chatroom">
        <table>
            <tr th:each="item : ${messageList}">
                <td th:text="${item.member.nickname}"></td>
                <td> : </td>
                <td th:text="${item.message}"></td>
            </tr>
        </table>

    </div>
    <form action="/chat/message" th:object="${form}" method="post">
        <input type = "text" th:field="*{message}" placeholder="내용을 입력하세요" autofocus >
        <button>전송</button>
    </form>
    <div class="report">
        관리자에게 보낼 내용을 입력하세요 <br>
        (ex 유저 신고, 버그 신고)
        <div id="reportroom">

        </div>
        <div class="reportinput">
            <input type="text" id="report_message" placeholder="내용을 입력하세요." autofocus>
            <button id="send">전송</button>
        </div>
    </div>
</div>

<script th:inline = "javascript">
    $('#reporticon').click(function(){
        $('.report').fadeToggle();
    });

    var webSocket;

    /* <![CDATA[*/
    var memberId = /*[[${report.memberId}]]*/;
    /* ]]> */

    /* <![CDATA[*/
    var reportId = /*[[${report.reportId}]]*/;
    /* ]]> */

    connect();

    document.getElementById("send").addEventListener("click",function(){
        send();
    })
    function connect(){
        webSocket = new WebSocket("ws://localhost:8080/chat");
        webSocket.onopen = onOpen;
        webSocket.onclose = onClose;
        webSocket.onmessage = onMessage;
    }
    function disconnect(){
        webSocket.send(JSON.stringify({reportId : reportId, type:'LEAVE',writer:memberId}));
        webSocket.close();
    }
    function send(){
        msg = document.getElementById("report_message").value;
        webSocket.send(JSON.stringify({reportId : reportId,type:'CHAT',writer:memberId, message : msg}));
        document.getElementById("report_message").value = "";
    }
    function onOpen(){
        webSocket.send(JSON.stringify({reportId : reportId,type:'ENTER',writer:memberId}));
    }
    function onMessage(e){
        data = e.data;
        reportroom = document.getElementById("reportroom");
        reportroom.innerHTML = reportroom.innerHTML + "<br>" + data;
    }
    function onClose(){
        disconnect();
    }

</script>

</body>
</html>