<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manner Matter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/make.room.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
</head>
<body>
   
   <div class="container">
       
       <div class="title">
            <a href="../main"><i class="fas fa-backward"></i></a>
           <span>M</span> <span>M</span>
       </div>
       
       <div class="info">
           <form action="/chat/insert" method="post" th:object="${chat}">
               <input type="text" name="room_name" placeholder="채팅방 이름" th:field="*{name}">
               <input type="number" name="room_limit" placeholder="방 인원 설정" th:field="*{max_num}">
               <button>완료</button>
           </form>
       </div>
   </div>
    
</body>
</html>