<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manner Matter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../css/main.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
</head>
<body>
   
   <div class="container">
       
       <div class="title">
          <a href="../../member/check"><i class="fas fa-user"></i></a>
           <p><span>N</span>ew <span>C</span>hatting</p>
       </div>
       
       <form action="/chat/find/new/search" th:object="${search}">
           <input type="text" name="search"  placeholder="채팅방 검색" th:field="*{search}">
           <button>검색</button>
       </form>
       
       <div class="chat">
           <table>
               <th>No.</th>
               <th>Name</th>
               <th> </th>
               <tr th:each="item : ${chatList}">
                   <td th:text="${item.id}"></td>
                   <td th:text="${item.name}">이름</td>
                   <td>
                       <a href="#" th:href="@{/chat/enter/{id}/(id=${item.id})}">입장</a>
                   </td>
               </tr>
           </table>
       </div>
       
       <a href="/chat/insert"><button>방만들기</button></a>
       <a href="/chat/find/mine"><button>내 채팅</button></a>

   </div>
    
</body>
</html>