<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manner Matter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script  src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="chat.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
</head>
<body>
   
   <div class="container">
       
       <div class="title">
            <a href="main.html"><i class="fas fa-backward"></i></a>
           <p>채팅방 이름</p>
           <p>3/4</p>
       </div>
       
       <div class="chat">
           <p>닉네임1</p>
           <p>TEXT</p>
           
           <p>닉네임2</p>
           <p>TEXT</p>
           
           <p>닉네임3</p>
           <p>TEXT</p>
       </div>
   </div>
    
</body>
</html>